@font-face {
    font-family: segoeu;
    src: url("../assets/fonts/segoeui.ttf");
    font-weight: 100;
}

@font-face {
    font-family: segoeu;
    src: url("../assets/fonts/seguisb.ttf");
    font-weight: 500;
}

@font-face {
    font-family: segoeu;
    src: url("../assets/fonts/segoeuib.ttf");
    font-weight: 800;
}

@font-face {
    font-family: heebo;
    src: url("../assets/fonts/heebo.regular.ttf");
    /* font-weight: 800; */
}

html,
body {
    -webkit-user-select: none;
    user-select: none;
    /* font-family: "segoeu"; */
    font-family: "heebo";

    font-weight: 100;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    direction: rtl;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: auto;
    /* background-color: #99582A; */
    /* background-color: #FAF3DD; */
    /* background-color: #e7eddf; */
    
    background-color: #FAF3DD;
    font-size: calc(14px + 0.4vw);
}



/* 注 */
.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  #99582A;
    /* background: #FAF3DD; */
    background-color: #C8D5B9;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFE6A7;
    color: #FAF3DD;

    font-size: 2em;
    font-weight: 800;
}



.open-screen {
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: 1.3rem;
    background-color: #99582A;
    background-color: #FAF3DD;
    background-color: #C8D5B9;
    width: 100%;
    height: 100%;
    color: #FAF3DD;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* display: none; */
}
.logos-container {
    position: absolute;
    top: -3%;
    left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 7rem;
}

.open-title {
    position: absolute;
    top: 10%;
    margin-top: 12%;
}
.note-container {
    position: relative;
    /* top: -3%; */
    background-image: url(../assets/images/note2-Photoroom.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 140%;
    padding-top: 25%;
}


.note-img {
    /* z-index: -100; */
    width: 140%;
    /* position: absolute; */
    top: 12%;
    rotate: 5deg;
}
.text-screen {
    /* background-image: url("../assets/images/note2-Photoroom.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    padding: 6% 29% 15%;
    z-index: 1;
    color:#5d5656;
    line-height: 2rem;
    line-height: 2.45rem;
    rotate: -3.8deg;
}

.btnNext {
    bottom: 10%;
    position: absolute;
    width: 40%;
    font-size: 1.3rem;
    /* font-family: "segoeu"; */
    font-family: "heebo";

    border-radius: 10px;
    color:#FAF3DD;
    border: none;
    /* background-color: #432818; */
    background-color: #4A7C59;
    height: 8%;
}


.loader>img {
    width: 50vw;
}

.loader.fade {
    animation: fadeOut 1s 2s forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}


/* 爪注 */
.blue {
    filter: hue-rotate(140deg);
}

.lightGreen {
    /* filter: hue-rotate(30deg); */
    filter: hue-rotate(140deg);

}

.teal {
    /* filter: hue-rotate(110deg); */
    filter: hue-rotate(140deg);
    
}

.purple {
    /* filter: hue-rotate(205deg); */
    filter: hue-rotate(140deg);
   
}

.yellow {
    /* filter: hue-rotate(301deg) brightness(29%) saturate(5); */
    filter: hue-rotate(140deg);
  
}

.orange {
    /* filter: hue-rotate(320deg); */
    filter: hue-rotate(140deg);
}   

.darkGreen {
    /* filter: hue-rotate(80deg); */
    filter: hue-rotate(140deg);

}

.pink {
    /* filter: hue-rotate(280deg); */
    filter: hue-rotate(140deg);
 
}

.gray {
    /* filter: grayscale(100); */
    filter: hue-rotate(140deg);
   
}

.red {
    /* filter: hue-rotate(301deg) brightness(29%) saturate(5); */
    filter: hue-rotate(140deg);
}

.sub-titles {
    font-weight: bold;
    padding-top: 1em;
}
 
.wave {
    width: 100%;
    z-index: 1000;
    
}
/* 拽 注 */
.topButton {
    width: 3.2rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 10;
}

.titleConeiner {
    color: #f4f4f4;
    font-weight: 800;
    font-size: 2rem;
    position: fixed;
    top: 0vh;
    width: 100vw;
    text-align: center;
    z-index: 5;
}

.title {
    position: absolute;
    top:0;
    width: 100vw;
    text-align: center;
    color: white; 
    font-weight: 400;
    padding-top: 1rem;
    color:#FFE6A7;
    color: #FAF3DD;
}

.titleMedShelfs {
    /* font-size: 2.8rem; */
    text-align: center;
    font-weight: 400;
    color:#FFE6A7;
    color: #FAF3DD;
}

.titelMedId {
    /* right: 1vw; */
    /* font-size: 0.6em; */
}

/* 驻砖 */
.searchBoxHolder {
    width: 73vw;
    position: absolute;
    top: 8vh;
    left: 3vw;
    z-index: 2;
}

.searchBox {
    width: 52vw;
    border-radius: 10vw;
    position: absolute;
    top: 9.7vh;
    left: 20vw;
    border: none;
    background-color: #f4f4f4;
    padding-bottom: 1em;
    padding-top: 1em;
    direction: ltr;
    /* font-family: "segoeu"; */
    font-family: "heebo";

    text-align: center;
    z-index: 2;
    outline: none;
}

.searchBox:focus {
    outline: none;
    top: 11vh;
}

.dropDown {
    pointer-events: none;
    width: 73vw;
    height: 63vh;
    position: absolute;
    left: 3vw;
    top: 23vh;
    overflow-y: scroll;
}

.dropDownItem {
    width: 73vw;
    height: 7vh;
    border-radius: 20vw;
    text-align: center;
    padding-top: 0.4em;
    margin-top: 0.1em;
    background-color: #f4f4f4;
}

.darkScreen {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.411);
    z-index: 1;
    top: 0;
}

/* 转 */
.aboutButton {
    width: 7vw;
    position: absolute;
    top: 2vh;
    left: 3vw;
    z-index: 1000;
}

.aboutPage {
    overflow: hidden;
    color: black ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.aboutHeadline {
    width: 20vw;
    color: #000000;
    display: block;
    margin: auto;
    font-weight: 800;
    font-size: 2em;
    position: relative;
}

.logos {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
    top: 80vh;
}

.logos>img {
    width: 21vw;
}

.logotill {
 
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0vh;
    width: 21vw;
}
/* 转专 砖 转专驻转 砖砖 转 */
.mainPageButton {
    border-radius: 0.8em;
    height: 15vh;
    width: 71vw;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    color: #0000009c;;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blueCard {
    background-image: url("../assets/images/cards/Asset\ 7.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.orangeCard {
    /* background-image: url("../assets/images/cards/Asset\ 8.svg"); */
    background-image: url("../assets/images/cards/Asset\ 11.svg");

    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.yellowCard {
    background-image: url("../assets/images/cards/Asset\ 10.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.pinkCard {
    /* background-image: url("../assets/images/cards/Asset\ 11.svg"); */
    background-image: url("../assets/images/cards/Asset\ 8.svg");

    background-size: 100% 100%;
    background-repeat: no-repeat;
}


th,
td {
    border: 1px solid rgb(90, 86, 86);
    border-collapse: collapse;
    border-radius: 0.2rem;
}


.name-table {
    text-align: center;
    padding: -4% 5%;
    font-size: 1.2rem;
}

.homePage {
    margin-top: 9rem;
}

.homePageButtonsScroll::-webkit-scrollbar {
    display: none;
}

.medHeadline {
    width: 60vw;
    position: relative;
    left: 0vw;
}

.td-tabel {
    text-align: center;
    font-size: 1rem;
    padding: -1% 0%;
    width: 40%;
}

.text-tab {
    background-color: #7a0101;
    color: white;
    text-align: center;
    width: 50%;
    font-size: 1.1rem;
    position: relative;
    top: 40%;
    height: 20%;
    transform: rotate(270deg);
    padding: 0% 2%;
}

.picLeft {
    margin-left: 2vw;
}

.mainPagePic {
    width: 30%;
    margin-right: 2vw;
}

.homePageButtonsScroll {
    overflow-y: scroll;
    margin-top: 8rem;
    width:100%;
}

.testButton {
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
}

/* 转注转 转 砖 转专驻转 */
.medicineId {
    pointer-events: none;
    padding: 1vh 4vw;
    height: 65vh;
    width: 92vw;
    position: absolute;
    top: 22vh;
    overflow-y: scroll;
}

.medicineId::-webkit-scrollbar {
    display: none;
}

.pic {
    /* width: 42vw; */
    height: 23vh;
    position: absolute;
    left: 5vw;
}

.idNextToPic {
    width: 42vw;
}

/* 驻 砖 转专驻转 */
.downButton {
    width: 8vw;
    position: absolute;
    margin-top: 2.4rem;
    left: 7vw;
}

.shelfs {
    width: 100vw;
    padding-top: 2rem;
    padding-bottom: 1.4rem;
    background-color: white;
    z-index: 1;
    margin-top: 1.5rem;
}

.shelf {
    position: relative;
    top: 4vh;
}

.shelfHedline {
    position: relative;
    text-align: center;
    font-weight: 450;
    font-size: 1.3rem;
    color: #432818;
   
}

.shelfsdropDown {
    padding: 0 1em;
    font-size: 1.1em;
}

.shelfMedPic {
    position: fixed;
    height: 7vh;
    padding: 0.5em;
    padding-right: 0.1em;
}

.shelfMedPicContainer {
    background-color: white;
    height: fit-content;
    border-radius: 1em;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 1em;
    direction: rtl;
    padding: 6% 20%;
    text-align: center;
}

.shelfPicSection {
    padding-top: 1em;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.medShelf {
    margin-top: 0.5em;
}

.medShelf::-webkit-scrollbar {
    display: none;
}

.medTypeSymbol {
    width: 17vw;
    position: fixed;
    top: 2.5vh;
    left: 80vw;
}

.shelfsButtons {
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
}

.buttons {
    width: 25vw;
}

.homeButton {
    width: 10vw;
    position: absolute;
    right: -15vw;
    bottom: 0vh;
    z-index: 10000;
}

.introductionText {
    padding: 1% 10%;
    font-weight: 800;
    text-align: center;
    font-size: 1.1rem;
}

.introdText {
    text-align: center;
    color:#5d5656;
}



.impText {
    padding: 3%;
    background-color: #7a0101;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonInList {
     display: inline-block;
    padding: 2% 3%;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: rgb(0 0 0);
    background-color: #aaabaa75;
    border-radius: 5px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

.buttonText {
    text-align: center;
   position: relative;
}

.buttonText::after {
    content: '';
    position: absolute;
    bottom: -1rem;
    right: 0;
    font-size: 1.5rem;
    transform: rotate(330deg);
}

.btnDown {
    text-align: center;
    position: relative;
    right: 24vw;
    align-content: center;
}

.div-text {
    text-align: center;
}

.mahaz-div {
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    border-bottom: solid 1.5px #000000;
}


.div-conclustion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.3rem;
    position: relative;
}

.big-list {
    font-weight: 500;
    font-size: 1rem;
    top: 10%;
    position: relative;
}

.searchButton[src="../assets/images/grapics/home-page/search-button.svg"] {
    display: none;
    pointer-events: none;
}

.testBtn {
    background-color: #bc0505;
    color: #fcfcfc;
    text-align: center;
    font-size: 1.2rem;
    position: absolute;
    width: 50%;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    border: none;
    padding-block: 1%;
}

.img-screen {
    position: absolute;
    top: 2%;
    right: 72%;
}

.signBahd10 {
    width: 35%;
}

.signForce {
    width: 50%;
}

.href-div {
    display: flex;
    justify-content: center;
    right: 5%;
    flex-direction: column;
    position: relative;
}

a {
    font-size: 1.2rem;
    margin-bottom: 15px; /* Adjust the spacing as needed */
    /* text-decoration: none; Optional: Remove underline from links */
    color: #b70404; /* Optional: Set link color */
}
.href-div a:last-child {
    margin-bottom: 0; /* Remove margin from the last link */
}

table, td, tr {
    padding: 1rem;
}



.hidden {
    display: none;
}

.shown {
    display: block;
}

.waysShelf {
    background-color: #f8f9fa; /* Light background color */
    border: 1px solid #dee2e6; /* Border to separate shelves */
    border-radius: 5px; /* Slightly rounded corners */
    margin: 10px 0; /* Space between shelves */
    padding: 10px; /* Inner padding */
}

.shelfAdropDown, .shelfBdropDown, .shelfCdropDown, .shelfDdropDown {
    position: absolute; /* Position dropdowns absolutely */
    top: 100%; /* Align below the shelf */
    left: 0; /* Align to the left */
    display: none; /* Initially hidden */
}




/* Styles for the inner dropdown containers */
.shelfAdropDown,
.shelfBdropDown,
.shelfCdropDown,
.shelfDdropDown {
    position: relative; /* Allow for absolute positioning of inner elements */
    padding: 1rem; /* Add padding for readability */
    margin-top: 5px; /* Space between dropdown and header */
    background-color: #e5bd77b7; /* Optional: Light background for dropdown */
    z-index: 0; /* Ensure dropdowns are above the shelves */
}

/* Inner shelf header */
.shelfHedlineInner {
    cursor: pointer; /* Change cursor to indicate clickable header */
    display: flex; /* Use flexbox for alignment */
    justify-content: space-between; /* Space out header text and down button */
    align-items: center; /* Center align items vertically */
    padding: 5px; /* Padding for inner header */
    background-color: #f5dcaab8; /* Optional: Different color for distinction */
    border: 0.5px solid white;
    padding: 1rem;
    z-index: -1;
}

/* Inner dropdown visibility */
.hidden {
    display: none; /* Hide elements with this class */
}

/* Show dropdown when not hidden */
.shelfAdropDown:not(.hidden),
.shelfBdropDown:not(.hidden),
.shelfCdropDown:not(.hidden),
.shelfDdropDown:not(.hidden) {
    display: block; /* Show dropdown */
}

/* Down button styles */
.downButton,
.downButtonInner {
    width: 20px; /* Adjust width as necessary */
    height: auto; /* Maintain aspect ratio */
    margin-left: 10px; /* Space between text and button */
}


.innerText {
    background-color: white;
    margin-top: 0.8rem;
    padding: 1rem;
    opacity: 0.8;
    font-size: 1.05rem;
    border-radius: 1rem;
}  


/* .try {
    border: solid;
    position: relative;
    left: 1rem;
    width: 40vw;
} */